{% extends 'learning_logs/base.html' %}
    {% block content %}
        <p>Topico: {{ topic }}</p>
            <p>Entrada:</p>
            <p> <a href="{% url 'new_entry' topic.id %}">adiciona nova entrada</a> </p>
            <ul>
                {% for entry in entries %}
                <li> 
                    <p>{{ entry.date_added|date:'d M, Y H:i' }}</p>
                    <p>{{entry.text|linebreaks }}</p> <p> <a href="{% url 'edit_entry' entry.id %}">editar entrada</a> </p>                
                </li> {% empty %}
                <li> Não ha nada aqui...</li> {% endfor %}
            </ul>
        {% endblock content %}
